<div class="card-header d-flex justify-content-between">
<h5 class='m-0'>
      <b>New Todo List</b>
        
      </h5>
<div>

<div class="card-body">

<div class="input-group mb-4">
<%= render 'form', todo_list: @todo_list %>

<%= link_to 'Back', todo_lists_path %>
<div>